[project]
	description = New Reporistarty
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/loki50
[access "refs/for/refs/*"]
	read = group user/loki50
	push = group user/loki50
	label-Code-Review = -2..+2 group user/loki50
	label-Verified = -1..+1 group user/loki50
	rebase = group user/loki50
	removeReviewer = group user/loki50
	submit = group user/loki50
[access "refs/heads/*"]
	read = group user/loki50
	create = group user/loki50
	push = +force group user/loki50
	pushMerge = group user/loki50
[access "refs/tags/*"]
	push = +force group user/loki50
	pushTag = group user/loki50
	pushSignedTag = group user/loki50
